name = "VOFTools"
uuid = "f4b4545c-59ad-49ee-afe8-a74df8bf51d2"
authors = ["Fastaxx"]
version = "0.2.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
